extends layout

block content
  div.container
    h1 = title
    if currentUser.isMember
      p Congrats! You are a member now!
    else
      form(method='POST' action='')
        div
          label(for='password') Enter membership password:
          input#password(type='password', name='password', 
          required='true', minlength='8', maxlength='32')
        
        button(type='submit') Submit

    if errors
        ul
        for error in errors
          li!= error.msg